.about {
  background-color: #111111;
  padding-top: 4em;
  padding-bottom: 4.5em;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  
}

.aboutMeRow {
  margin: 0;
  margin-bottom: 2.5em;
}

.aboutMeFont{
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  overflow: hidden;
  text-align: left;
  font-size: 3rem;
  z-index: 1;
}
.subAboutMeFont {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
}

text {
  fill:#ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 2.5px;
}

.circleText {
  position: absolute;
  width: 120px;
  height: 120px;  
  max-height: 75vh;
  max-width: 75vw;
  overflow: visible;
  transform-origin: center center;
  stroke-opacity: 0.5;
  z-index: 0;
}