@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.footer{
    height: 30rem;
    background-color: #111111;
    margin: 0;

}


@media screen and (min-width: 470px) {
 .footer-header{
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
}
@media screen and (max-width: 470px) {
 .footer-header{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
}


.footer-icon{
    color: #ffffff;
    margin: 20;
}
.footer-end{
    color: #ffffff;
    margin: 0;
}
